language: ruby
services:
  - mongodb
rvm:
  - 2.1.1
script:
  - RAILS_ENV=test bundle exec rake db:create
  - bundle exec rake test_with_coveralls
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
