<div class="container clearfix">
    {{partial 'orders/status_menu'}}
    <h1 class="main">Мои заказы</h1>
    <!-- Типы переводов -->
    {{partial 'orders/type_menu'}}
    <!-- /Типы переводов -->
    {{outlet}}
</div>