<div class="types clearfix">
  <div class="col-1">
    {{#link-to 'verbal.index' class="verbal clearfix"}}
      <span class="icon"></span>
      <p>{{ts 'mongoid.models.order/verbal.one'}}</p>
    {{/link-to}}
  </div>
  <div class="col-1">
    {{#link-to 'written' class="written clearfix"}}
        <span class="icon"></span>
        <p>{{ts 'mongoid.models.order/written.one'}}</p>
    {{/link-to}}
  </div>
  <div class="col-1 last">
    {{#link-to 'expert' class="local clearfix"}}
        <span class="icon"></span>
        <p>{{ts 'mongoid.models.order/expert.one'}}</p>
    {{/link-to}}
  </div>
</div>