<div class="section-reg-translator">
    <ul class="second-step-points">
        <li>{{#link-to 'messages.index' (query-params scope='inbox')}}<span>{{ts 'frontend.messages.inbox'}}</span>{{/link-to}}</li>
        <li>{{#link-to 'messages.index' (query-params scope='outbox')}}<span>{{ts 'frontend.messages.outbox'}}</span>{{/link-to}}</li>
        <li>{{#link-to 'messages.new'}}<span>{{ts 'frontend.messages.create'}}</span>{{/link-to}}</li>
    </ul>
    <div class="height-10"></div>
</div>

