<div class="calendar">
<span class="arrow left"></span>
<span class="arrow right"></span>
<!-- Интервал -->
<div class="interval active">
<p class="calendar-title"><span>Сентябрь 2014</span> - Октябрь 2014</p>
<table cellpadding="0" cellspacing="0" border="0">
<tr>
  <td></td>
  <td>Пн</td>
  <td>Вт</td>
  <td>Ср</td>
  <td>Чт</td>
  <td>Пт</td>
  <td class="weekend">Сб</td>
  <td class="weekend">Вс</td>
  <td>Пн</td>
  <td>Вт</td>
  <td>Ср</td>
  <td>Чт</td>
  <td>Пт</td>
  <td class="weekend">Сб</td>
  <td class="weekend">Вс</td>
  <td></td>
</tr>
<tr class="table_body">
  <td></td>
  <td>
    <span class="day"></span><sup></sup>
    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-29-09-2014" disabled>
    </div>
  </td>
  <td>
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-30-09-2014" disabled>
    </div>
  </td>
  <td>
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-01-10-2014" disabled>
    </div>
  </td>
  <td>
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-02-10-2014" disabled>
    </div>
  </td>
  <td>
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-03-10-2014" disabled>
    </div>
  </td>
  <td class="weekend">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-04-10-2014" disabled>
    </div>
  </td>
  <td class="weekend">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td>
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td>
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td>
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>

  </td>
  <td>
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td>
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td class="weekend">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td class="weekend">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td></td>
</tr>
<tr class="table_body">
  <td></td>
  <td>
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-29-09-2014" disabled>
    </div>
  </td>
  <td>
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-30-09-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-01-10-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-02-10-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-03-10-2014" disabled>
    </div>
  </td>
  <td class="next-month weekend">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-04-10-2014" disabled>
    </div>
  </td>
  <td class="next-month weekend">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span>
    <sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>

  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td class="next-month weekend">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td class="next-month weekend">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td></td>
</tr>
<tr class="table_body">
  <td></td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-29-09-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-30-09-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-01-10-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-02-10-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-03-10-2014" disabled>
    </div>
  </td>
  <td class="next-month weekend">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-04-10-2014" disabled>
    </div>
  </td>
  <td class="next-month weekend">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>

  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td class="next-month">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td class="next-month weekend">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td class="next-month weekend">
    <span class="day"></span><sup></sup>

    <div class="dropdown">
      <em>8</em>
      <em>10</em>
      <em>12</em>
      <em>14</em>
      <em>16</em>
      <input type="hidden" name="date-05-10-2014" disabled>
    </div>
  </td>
  <td></td>
</tr>
</table>
</div>

</div>
<div id="real_date_inputs" style="display: none"></div>
<script>
  new Calendar
</script>
