<div class="container">
    <div class="steps clearfix">
      <div class="col-1">
      </div>
      <div class="col-1 clearfix circles">
        <span class=<%='active' if @order.step == 1%>>1</span>
        <span class=<%='active' if @order.step == 2%>>2</span>
        <span class=<%='active' if @order.step == 3%>>3</span>
      </div>
      <div class="col-1 button last">
        <button type="submit" >Продолжить</button>
      </div>
    </div>
</div>
