<div class="container">
    <div class="steps clearfix">
      <div class="col-1">
      </div>
      <div class="col-1 clearfix circles">
        <span ng-class="checkStep(1)">1</span>
        <span ng-class="checkStep(2)">2</span>
        <span ng-class="checkStep(3)">3</span>
      </div>
      <div class="col-1 button last">
        <button type="submit" >Продолжить</button>
      </div>
    </div>
</div>
