<div class="clear"></div>
<div class="height-20"></div>
<div class="steps clearfix">
    <div class="col-1">
      {{#if isBackEnable}}
          <button type="button" class="button" {{action 'update' this back_step}}>Назад</button>
      {{else}}
          <button type="button" class="button">
            {{#link-to 'profiles.translator_new'}}
                Назад
            {{/link-to}}
          </button>
      {{/if}}
    </div>
    <div class="col-1 clearfix circles circles-3">
    </div>
    <!-- /Колонка -->
    <div class="col-1 button last">
      {{#if isNextEnable}}
          <button type="submit" {{action 'update' this next_step}}>Продолжить</button>
      {{/if}}
    </div>
</div>
<div class="height-30"></div>