<form class="section-form section-cabinet-common section-reg-translator" ng-init="profile.step=6" novalidate>

    <div ng-include="'cabinet/menu.html'"></div>

    <!-- Контейнер -->
    <div class="container clearfix">
        <div ng-include="'cabinet/profiles/translators/person-title.html'"></div>
        <div ng-include="'cabinet/profiles/translators/person-tabs.html'"></div>

        <!-- Колонка -->
        <div class="col-1">
            <p>{{ts 'frontend.profile.payment_method'}}</p>
            <div class="custom-select">
                {{view Ember.Select
                selection=model.pay_way
                prompt='-'
                content=pay_ways}}
            </div>
        </div>
        <!-- /Колонка -->
        <div class="clear"></div>
        <div class="height-20"></div>
        <div class="grey-line-thick"></div>
        <div class="height-20"></div>
        <p class="big-tooltip">
            <span class="icon"></span>
            {{ts 'frontend.profile.to_prevent_mistakes'}}
        </p>
        <div ng-include="'cabinet/profiles/translators/person-steps.html'"></div>
    </div>
    <!-- /Контейнер -->
</form>
