//Цвета
//Текст
$font-main-color: #333;
$font-pink-color: #c65aa2;
$font-pink-bright-color: #ec008c;
//Розовый бекграунд
$bg-pink: #924fab;
$bg-pink-bright: #b8218d;


//Ширины колонок
//Ширина макета (контейнера)
$grid-container-width: 974px;
//Ширина одной колонки
$grid-col-width: 294px;
$grid-col-half-width: 124px;
$grid-col-wider-width: 180px;
//Двойной интервал
$grid-double-int: 46px;
//Одиночный интервал
$grid-single-int: $grid-double-int / 2;
//Примеси для создание колонок
//Базовая колонка
@mixin grid-col-basic {
	float: left;
	box-sizing: border-box;
	width: $grid-col-width;
	margin-right: $grid-double-int;
}

@mixin grid-col-half {
  float: left;
  box-sizing: border-box;
  width: $grid-col-half-width;
  margin-right: $grid-double-int;
}

@mixin grid-col-wider {
  float: left;
  box-sizing: border-box;
  width: $grid-col-wider-width;
  margin-right: $grid-double-int;
}

//Колонка шириной больше базовой на одиночный интервал
@mixin grid-col-single-int {
	float: left;
	box-sizing: border-box;
	width: $grid-col-width + $grid-single-int;
	margin-right: $grid-single-int;
}
//Колонка шириной больше базовой на двойной интервал
@mixin grid-col-double-int {
	float: left;
	box-sizing: border-box;
	width: $grid-col-width + $grid-double-int;
	margin-right: 0;
}
//Последняя колонка
@mixin grid-col-last {
	margin-right: 0;
}