<!-- Раздел с формой -->
<%= form_for @order, as: :order, url: url_for(controller: 'orders', action: 'update'), html: {class: "section-form step-1"} do |f| %>
<div class="section-form payment" ng-init="order.step=3">
    <!-- Контейнер -->
    <div class="container clearfix">
        <h1 class="main">Разместить заказ на <span class="pink-bright">Письменный перевод</span></h1>
        <p class="title">Оплата заказа – № 23s548</p>
        <p>Подробности заказа</p>
        <div class="bordered-block points">
            <p class="point"><span class="bold number">1.</span> Ср. 3 сент. 2014 г., письменный перевод+корректура, русский > китайский (традиционный), 1055 слов,  срок сдачи: +&nbsp;7&nbsp;сент.&nbsp;2014&nbsp;г. = <span class="semi-bold">210 Eur</span></p>
            <p class="point"><span class="bold number">2.</span> Чт. 4 сент. 2014 г., письменный перевод+корректура, русский > китайский (упрощенный), 1055 слов,  срок сдачи: +&nbsp;7&nbsp;сент.&nbsp;2014&nbsp;г. = <span class="semi-bold">115 Eur</span></p>
            <div class="line"></div>
            <p class="pink-bright bold">Сумма к оплате: 325 Eur</p>
        </div>
        <div class="height-10"></div>
        <label class="checkbox clearfix">
            <input type="checkbox">
            <em></em>
            <p>Бронируя этот заказ, вы соглашаетесь оплачивать полную указанную сумму, которая включает все сервисные сборы, вы вниматально ознакомились и полностью согласны с <a href="#">Условими предоставления услуг</a>, <a href="#">Правилами отмены бронирования</a> и <a href="#">Правилами компенсации</a> заказчику услуг.</p>
        </label>
        <div class="height-20"></div>
        <p class="title">Информация о плательщике</p>
        <!-- Колонка -->
        <div class="col-1">
            <p>Имя</p>
            <input type="text" ng-model="order.clientName" required>
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1">
            <p>Фамилия</p>
            <input type="text" ng-model="order.clientSurname" required>
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1 last clearfix birth">
            <p>Дата рождения</p>
            <select select-date yu-model="order.clientBirthdateOn"></select>
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1">
            <p>Контактный e-mail</p>
            <input type="email" ng-model="order.clientEmail" required>
        </div>
        <!-- /Колонка -->
        <div class="clear"></div>
        <p class="title">Способ оплаты</p>
        <!-- Колонка -->
        <div class="col-1 payment-method plastic-card">
            <div class="line"></div>
            <span class="icon"></span>
            <div class="height-5"></div>
            <label class="checkbox clearfix">
                <input type="checkbox" value="paymentcard" ng-model="order.paymentMethod">
                <em></em>
                <p>Платежная карта</p>
            </label>
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1 payment-method alipay">
            <span class="icon"></span>
            <div class="height-5"></div>
            <label class="checkbox clearfix">
                <input type="checkbox" value="alipay" ng-model="order.paymentMethod">
                <em></em>
                <p>alipay.com</p>
            </label>
        </div>
        <!-- /Колонка -->
        <div class="clear height-20"></div>
        <p class="title">Платежная информация</p>
        <!-- Колонка -->
        <div class="col-1">
            <p>Тип платежной карты</p>
            <input type="text" ng-model="order.typePaymentCard" required>
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1">
            <p>Имя на карте</p>
            <input type="text" ng-model="order.cardholderName" required>
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-1 last clearfix card-expired">
            <p>Платежная карта годна до</p>
            <select select-card-expires-on yu-model="order.cardExpired"></select>
        </div>
        <!-- /Колонка -->
        <div class="clear"></div>
        <!-- Колонка -->
        <div class="col-1">
            <p>Номер платежной карты</p>
            <input type="text" ng-model="order.card_number" required>
        </div>
        <!-- /Колонка -->
        <!-- Колонка -->
        <div class="col-2 last cvc clearfix">
            <p>CVC код</p>
            <input type="text" ng-model="order.card_cvv" required>
            <p class="tip text-small">CVC код вы можете найти на обратной стороне</p>
        </div>
        <!-- /Колонка -->
        <div class="clear"></div>
        <p class="payment"><span class="icon"></span> Оплата с вас будет взята только если зарезервированный переводчик подтвердит ваш запрос. <br>У него 24 часа, чтобы ответить вам. Если запрос не подтвержден, деньги списаны не будут.</p>
        <div class="clear"></div>

        <div ng-include="'orders/written/steps.html'"></div>

    </div>
    <!-- /Контейнер -->
</div>
    <%=render partial: 'orders/verbal/steps_nav', locals: {f: f}%>
<%end%>
<!-- /Раздел с формой -->