<div class="section-reg-translator">
    <ul class="second-step-points">
        <li>{{#link-to 'profiles.edit' (query-params step='language')}}<span>Язык</span>{{/link-to}}</li>
        <li>{{#link-to 'profiles.edit' (query-params step='personal')}}<span>Личные данные</span>{{/link-to}}</li>
        <li>{{#link-to 'profiles.edit' (query-params step='contacts')}}<span>Контакты</span>{{/link-to}}</li>
        <li>{{#link-to 'profiles.edit' (query-params step='services')}}<span>Услуги перевода</span>{{/link-to}}</li>
        <li>{{#link-to 'profiles.edit' (query-params step='education')}}<span>Образование</span>{{/link-to}}</li>
        <li>{{#link-to 'profiles.edit' (query-params step='payments')}}<span>Способы оплаты</span>{{/link-to}}</li>
    </ul>
    <div class="height-10"></div>
</div>

