<form class="section-form section-cabinet-common section-reg-translator">

    <!-- Контейнер -->
    <div class="container clearfix">
        <h1 class="main">registration as <span class="pink-bright">translator</span> finished</h1>
        <div class="grey-line-thick"></div>
        <div class="height-20"></div>
        <p class="big-tooltip">
            <span class="icon"></span>
            registration succeed<br>
            use info and FAQ
        </p>
    </div>
    <!-- /Контейнер -->
</form>
<!-- /Регистрация партнера-переводчика шаг 2 -