<form class="section-form section-cabinet-common section-reg-translator">

    <!-- Контейнер -->
    <div class="container clearfix">
        <h1 class="main">Регистрация как <span class="pink-bright">Партнер-переводчик</span> завершена</h1>
        <div class="grey-line-thick"></div>
        <div class="height-20"></div>
        <p class="big-tooltip">
            <span class="icon"></span>
            Вы успешно зарегистрированы.<br>
            Рекомендуем воспользоваться информационным материалом и FAQ  для переводчиков.
        </p>
        <div ng-include="'cabinet/profiles/translators/person-steps.html'"></div>
    </div>
    <!-- /Контейнер -->
</form>
<!-- /Регистрация партнера-переводчика шаг 2 -