<h1 class="main">{{ts 'frontend.profile.register_as'}} <span class="pink-bright">{{ts 'frontend.profile.partner-translator'}}</span></h1>
<p class="title">{{ts 'frontend.profile.partner_profile_form'}}</p>