<div class="clear"></div>
<div class="height-20"></div>
<div class="steps clearfix">
    <div class="col-1">
        <button type="button" class="button-grey" ng-hide="isPersonPageSteps()">return</button>
        <button type="button" class="button" ng-click="previousStep()" ng-show="isPersonPageSteps()">return</button>
    </div>
    <!-- Колонка -->
    <div class="col-1 clearfix circles circles-3">
    </div>
    <!-- /Колонка -->
    <div class="col-1 button last">
        <button {{action 'update' this next_step next_substep}}>continue</button>
    </div>
</div>
<div class="height-30"></div>