.block.first
  .item
    p.h2
      text-align: center
      color: #ec008c
      font-weight: 600

.first-points
  display: none
  .over
    display: none

.block.second
  .item
    position: relative
    .arrow
      display: none

.reg-form
  .form-radios
    display: none
  .email
    input
      outline: none
  .check
    p
      .message
        font-size: 12px
        margin-left: 50px
