.block.first
  .item
    a
      cursor: pointer
    p.h2
      text-align: center
      color: #ec008c
      font-weight: 600
      cursor: pointer
    .over
      cursor: pointer
      opacity: 1
    &.active-item
      a
        cursor: default
      p
        cursor: text

.first-points
  display: none
  .item
    text-align: justify
  .over
    display: none
    a
      width: 120px
      height: 120px
      border-radius: 50%
      cursor: pointer

.block.second
  .item
    position: relative

.reg-form
  height: 55px
  .now
    span
      text-transform: lowercase
  .form-radios
    display: none
  .email
    input
      outline: none
  .check
    .message
      font-size: 12px
      margin-left: 50px
  #main_register_submit
    outline: none
  .load-icon
    display: none
    img
      height: 35px
      width: 35px
