.over{
  > a{
    color: #FFF;
  }
}

.custom-combobox {
  position: relative;
  display: inline-block;
}

.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}

.custom-combobox-input {
  margin: 0;
  padding: 7px 52px 7px 10px;
}

.circles{
  span{
    cursor: pointer;
  }
}

.ui-autocomplete {
  max-height: 125px;
  width: 288px !important;
  overflow-y: auto;   /* prevent horizontal scrollbar */
  overflow-x: hidden; /* add padding to account for vertical scrollbar */
  z-index:1000 !important;
}

// Animations
#form-views{
  width:auto;
  height: auto;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
  transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}

/* enter animation */
#form-views.ng-enter            {
  -webkit-animation:slideInRight 0.5s both ease;
  -moz-animation:slideInRight 0.5s both ease;
  animation:slideInRight 0.5s both ease;
}

/* leave animation */
#form-views.ng-leave            {
  -webkit-animation:slideOutLeft 0.5s both ease;
  -moz-animation:slideOutLeft 0.5s both ease;
  animation:slideOutLeft 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
  to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
  to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
  to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
  from 	{ transform:translateX(200%); }
  to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from 	{ -moz-transform:translateX(200%); }
  to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from 	{ -webkit-transform:translateX(200%); }
  to 		{ -webkit-transform: translateX(0); }
}

//#form-views {
//  -webkit-transition: -webkit-transform .7s ease-in-out;
//  -moz-transition: -moz-transform .7s ease-in-out;
//  -o-transition: -o-transform .7s ease-in-out;
//  transition: transform .7s ease-in-out;
//  -webkit-transform: translateX(0);
//  transform: translateX(0);
//}
//
//#form-views.ng-enter {
//  -webkit-transform: translateX(-100%);
//  transform: translateX(-100%);
//}
//
//#form-views.ng-enter.ng-enter-active, #form-views.ng-leave {
//  position: absolute;
//  -webkit-transform: translateX(0);
//  transform: translateX(0);
//}
//
//#form-views.ng-leave.ng-leave-active {
//  -webkit-transform: translateX(100%);
//  transform: translateX(100%);
//}