@import "compass/css3";

#native_language {
  text-align: center;
  padding-top: 36px;
  BUTTON[type=submit] {
    height: 32px;
    width: 32px;
    padding: 12px;
    @include border-radius(7px);
    border: none;
    position: relative;
    cursor: pointer;
    SPAN.caret {
      display: inline-block;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-left-color: #ef269d;
      position: absolute;
      left: 14px;
      top: 11px;
    }
  }
}

#change-password-container {
  width: 974px;
  margin: 0 auto;
}

#change-password-container input{
  display: block;
  margin-bottom: 10px;
  @include border-radius(7px);
  font-size: 1em;
  padding: 8px 15px 8px 15px;
  height: 32px;
  box-sizing: border-box;
  &[readonly] {
    background-image: image-url("inout-disabled-bg.png");
  }
  &[type='submit']{
    margin-top: 20px;
    cursor: pointer;
  }
  outline: none;
}

#change-password-container h1{
  font-size: 20px;
  margin: 20px 0;
}

#change-password-container .errors{
  list-style: none;
  margin: 10px 0;
}


