<div class="container">
    {{#linkTo "vassals" tagName="a" class="item" }}
        <span {{bindAttr href="view.href"}}>Invites<span class="caret"></span></span>
    {{/linkTo}}
    {{#linkTo "link" tagName="a" class="item" }}
      <span {{bindAttr href="view.href"}}>My Link<span class="caret"></span></span>
    {{/linkTo}}
    {{#linkTo "banners" tagName="a" class="item" }}
      <span {{bindAttr href="view.href"}}>Banners<span class="caret"></span></span>
    {{/linkTo}}
</div>
