<div class="footer">
  <div class="container clearfix">
    <div class="col1">
      <a href="#" class="logo"></a>
      <div class="social">
        <a href="#" class="facebook"></a>
        <a href="#" class="twitter"></a>
      </div>
    </div>
    <div class="col2">
      <p>• Phone: +356 656 987 9874</p>
      <p>• Fax: +356 656 987 9874</p>
      <p>• e-mail: yufu@yufu.net</p>
    </div>
    <div class="col3">
      <p>Copyright &copy; 2014</p>
    </div>
  </div>
</div>